
<div class="card">
  <div class="card-header text-center bg-info">
    <h1>About This Site...</h1>
  </div>
  <div class="card-body">
    <h2 class="card-title">Michael Greeburg</h2>
    <p class="card-text"><p>My name is Michael Greenburg and I started working on Ruby on Rails to learn this framework.
<p>This is my first fully functioning Ruby on Rails site.<p>
<p>Some of its features are below:<p>
<ul>
    <li>
    User Authentication using Devise (which includes Sign Up, Sign In, Sign Out, Password Recovery, Password Changing, and Profile Editing)
    </li>
    <li>
    CRUD Functionality
    </li>
    <li>
    Each individual User gets their own friends list using Rails Associations functionality for the Database
    </li>
    <li>
    Database funtionality using SQLite3
    </li>
    <li>
    Bootstrap for its styling
    </li>
</ul>    
</p>
    
  </div>
</div>





