<div class="card">
  <div class="card-header text-center bg-info">
    Friend App
  </div>
  <div class="card-body">
    <h5 class="card-title">My Ruby on Rails Hello Wold Application</h5>
    <p class="card-text">This is my first Ruby on Rails Webapp...</p>
  </div>
</div>

